#root {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: calc(100vw - 2 * 0.5rem) ;
  height: calc(100vh - 2 * 0.5rem);
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
}

div#grid {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  height: 100%;
}

div#head {
  grid-area: header;
}

div#main {
  grid-area: main;
  overflow: scroll;
}

div.depgraph {
  display: flex;
  /*
    IMPORTANT! Do NOT change this to nowrap - which seems more logical - because
    it screws up the width of individual levels. Leaving it to 'wrap' seems to work
    find in combination with centered children
  */
  flex-flow: column wrap;
}

div.level {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 1rem;
  /* background-color: lightblue; */
}

div.project {
  padding: 1rem;
  margin: 0 0.5rem;
  background-color: lightgrey;
}

div.project.selected {
  background-color: lightgreen;
}

div.project.related {
  background-color: lightblue;
}

div.project h3 {
  margin: 0;
  /* text-decoration: underline; */
}

div.project.selected h3 {
  text-decoration: none;
}

div.project>div {
  white-space: nowrap;
  border-top: solid 1px black;
  padding: 0.5rem 1rem 0;
  margin: 0.5rem -1rem 0;
  /* display: none; */
}

div.project > div > div {
  /* text-decoration: underline; */
  padding: 0 1rem;
  margin: 0 -1rem;
}

/* div.project:has(div > div.selected) {
  background-color: green
} */

div.project>div>div.selected {
  background-color: lightgreen
    /* text-decoration: none; */
}

#menu {
  position: fixed;
  top: 1em;
  right: 2rem;
  background-color: lightgrey;
  padding: 0 0.5rem;
  border: solid 0.5rem white;
}

#menu p {
  margin: 0.5rem 0;
}

#details {
  position: fixed;
  left: 1em;
  bottom: 2em;
  /* background-color: lightgreen; */
}

div.problems {
  line-height: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(223, 180, 180);
}
